torch
torchvision
tqdm
matplotlib
pandas
PyYAML
wandb
scipy
opencv-python
loguru
transformers
diffusers --no-deps
facenet-pytorch --no-deps
accelerate --no-deps
peft --no-deps
imageio
pytest

# dev
pre-commit
black
isort
flake8
